.attribution { 
    display: grid;
    position: fixed;
    top: 10px;
    left: 10px;
    text-align: center; 
    font-size: 11px; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}
body {
    background-color:hsl(212, 45%, 89%);
    align-items: center;
}
main{
    display: flex;
    height: 98vh;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    align-items: center;
}
.qr_code{
    width: min-content;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
}
.qr_code img{
    height: 200px;
    width: 200px;
    padding: 20px;
    border-radius: 50px;
}
h1{
    padding: 0px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}
h2{
    padding: 15px 20px 40px 15px;
    text-align: center;
    color: hsl(212, 28%, 67%);
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}
